<main class="hero">
	<section class="content">
		<h1 class="hero-header">Nuevo</h1>
		<h3>Lorem, ipsum dolor sit amet.</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nam
			adipisci illum consectetur voluptatibus quis excepturi? Soluta aspernatur
			eius modi excepturi iusto inventore cum, ex in tenetur delectus.
			Repellendus, id labore impedit obcaecati iure sunt blanditiis tempore,
			facilis at sint, reprehenderit libero. Voluptatibus, enim perspiciatis
			voluptas laboriosam amet asperiores.
		</p>
		<a href="/blog">Get Started</a>
	</section>
	<section class="hero-image">
		<img src="/img/blog.webp" alt="Nuevo" width="450" height="350" />
	</section>
</main>
